.gradle/
build/

local.properties

*.log

.idea/**
!.idea/vcs.xml
!.idea/codeStyles/
*.iml
captures/
.externalNativeBuild/
.cxx/
deploymentTargetDropDown.xml
render.experimental.xml

*.aab
*.apk
output-metadata.json
*.hprof

*.jks
*.keystore
keystore.properties
google-services.json

.DS_Store
Thumbs.db

app/release/baselineProfiles/